title: PowerShell Scheduled Task Persistence Commands
id: e5f6g7h8-5555-4b9a-8c55-pstask0001
status: stable
description: Detects the use of PowerShell cmdlets to create a scheduled task for persistence.
author: Eric Philippov
date: 2026-02-10
logsource:
  product: windows
  service: powershell
detection:
  selection:
    event.code: "4104"
    powershell.file.script_block_text|contains:
      - "Register-ScheduledTask"
      - "New-ScheduledTaskAction"
  selection_path:
    powershell.file.script_block_text|contains:
      - "C:\\Users\\Public\\"
      - "sqlwriter.exe"
  condition: selection and selection_path
level: high
tags:
  - attack.persistence
  - attack.t1053.005