---
# =========================
# Linux (all)
# =========================
- name: Configure Linux base
  hosts: linux_hosts
  become: true
  roles:
    - common

# =========================
# Router
# =========================
- name: Configure Router
  hosts: routers
  become: true
  roles:
    - common
    - router
    - filebeat_router

# =========================
# SIEM
# =========================
- name: Configure SIEM
  hosts: siems
  become: true
  roles:
    - common
    - siem_base
    - docker
    - elk
    - fleet_bootstrap
    - windows_integrations

# =========================
# Attacker
# =========================
- name: Configure Attacker
  hosts: attacker
  become: true
  roles:
    - common
    - docker
    - caldera_server
    - caldera_payloads
    - caldera_operations

# =========================
# Windows base
# =========================
- name: Configure Windows base
  hosts: windows_hosts
  roles:
    - windows_base
    - elastic_agent_windows 

# =========================
# Domain Controller
# =========================
- name: Configure Domain Controller
  hosts: dcs
  roles:
    - windows_dc

# # =========================
# # Join WS01 to domain
# # =========================
# - name: Join WS01 to domain
#   hosts: ws01
#   roles:
#     - windows_domain_join
