- name: Configure router interfaces
  copy:
    dest: /etc/netplan/01-router.yaml
    content: |
      network:
        version: 2
        renderer: networkd
        ethernets:
          eth0:       # NAT (интернет)
            dhcp4: yes
            optional: true
          eth1:       # Management network (Ansible)
            dhcp4: no
            addresses: [10.10.10.2/24]
          eth2:       # 192.168.50.0/24
            dhcp4: no
            addresses: [192.168.50.1/24]
          eth3:       # 192.168.60.0/24
            dhcp4: no
            addresses: [192.168.60.1/24]
          eth4:       # 192.168.70.0/24
            dhcp4: no
            addresses: [192.168.70.1/24]
  notify: Apply netplan

- name: Install iptables-persistent
  apt:
    name: iptables-persistent
    state: present
  environment:
    DEBIAN_FRONTEND: noninteractive

- name: Enable IPv4 forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: true

- name: Allow established and related connections
  iptables:
    chain: FORWARD
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT

- name: Configure NAT Masquerade on WAN (eth0)
  iptables:
    table: nat
    chain: POSTROUTING
    out_interface: eth0
    jump: MASQUERADE

- name: Allow forwarding from internal lab subnets
  iptables:
    chain: FORWARD
    source: "{{ item }}"
    jump: ACCEPT
  loop:
    - 192.168.50.0/24
    - 192.168.60.0/24
    - 192.168.70.0/24

- name: Save iptables rules
  shell: iptables-save > /etc/iptables/rules.v4
  args:
    executable: /bin/bash
  changed_when: false

