---
- name: Disable Windows Defender (Real-time monitoring)
  win_shell: Set-MpPreference -DisableRealtimeMonitoring $true

- name: Install Chocolatey (Package Manager)
  win_chocolatey:
    name: chocolatey
    state: present

- name: Install 7-Zip and Notepad++
  win_chocolatey:
    name:
      - 7zip
      - notepadplusplus
    state: present

- name: Install latest Google Chrome
  win_chocolatey:
    name: googlechrome
    state: latest
    ignore_checksums: yes


- name: Check if Sysmon64 service exists
  win_service:
    name: Sysmon64
  register: sysmon_service
  ignore_errors: true


- name: Install Sysmon (if not present)
  block:
    - name: Download Sysmon
      win_get_url:
        url: https://download.sysinternals.com/files/Sysmon.zip
        dest: C:\Windows\Temp\Sysmon.zip

    - name: Unzip Sysmon
      win_unzip:
        src: C:\Windows\Temp\Sysmon.zip
        dest: C:\Windows\Temp\Sysmon
        
    - name: Download SwiftOnSecurity Config (Best practice config)
      win_get_url:
        url: https://raw.githubusercontent.com/SwiftOnSecurity/sysmon-config/master/sysmonconfig-export.xml
        dest: C:\Windows\Temp\Sysmon\sysmon_config.xml

    - name: Install Sysmon with Config
      win_shell: |
        .\Sysmon64.exe -accepteula -i sysmon_config.xml
      args:
        chdir: C:\Windows\Temp\Sysmon
  when: sysmon_service.exists == false
##Все что ниже только для lolbin
- name: Copy Lab ProcessCreate override config
  win_copy:
    src: lab-processcreate.xml
    dest: C:\Windows\Temp\Sysmon\lab-processcreate.xml
    
- name: Stop Sysmon
  win_shell: |
    Sysmon64.exe -u
  args:
    chdir: C:\Windows\Temp\Sysmon
  ignore_errors: true

- name: Install Sysmon with LAB config
  win_shell: |
    .\Sysmon64.exe -accepteula -i lab-processcreate.xml
  args:
    chdir: C:\Windows\Temp\Sysmon
